.component {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 500px;
    height: 250px;
    background-color: black;
    color: white;
    border-top: 5px solid #333;
    border-left: 5px solid #333;
    padding: 3px;
    
    transition: all 0.15s linear;
    transform: translateX(100%);
    opacity: 0;

    &.selected {
        transform: translateX(0%);
        opacity: 1;
    }

    button {
        width: 80px;
        height: 80px;
        background-color: #444;
        margin: 3px;
        padding: 6px;
        cursor: pointer;

        &.selected {
            background-color: #777;
            font-weight: bold;
        }
    }

    button.deselect {
        position: absolute;
        bottom: 0;
        right: 0;
    }
}
